@use '../abstract' as a;

h1, h2, h3, h4,
h5, h6, a, button {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 1.5rem;
  
  @include a.breakpoint(medium){
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 1rem;

  @include a.breakpoint(medium){
    font-size: 2.5rem;
  }
}

h3 {
  font-size: 1rem;

  @include a.breakpoint(medium){
    font-size: 2rem;
  }
}

h4 {
  font-size: 0.8rem;
}

p {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

input {
  font-family: 'Open Sans', sans-serif;
}

input::placeholder {
  font-family: 'Raleway', sans-serif;
}