@use '../abstract' as a;

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  color: var(--clr-white);
  background-color: var(--clr-primary-color-very-dark-blue);
  padding: 4rem 2.5rem;

  @include a.breakpoint(medium) {
    padding: 6rem 5rem;
  }

  &__content {
    display: grid;
    gap: 2rem;
    width: min(100%, 120rem);

    & > *:last-child {
      display: grid;
      gap: 2rem;

      @include a.breakpoint(medium) {
        align-items: flex-start;
        justify-content: space-between;
        grid-template-columns: repeat(4, max-content);
      }
    }
  }

  &__logo {
    width: 7.5rem;
    filter: brightness(0) invert(1);

    @include a.breakpoint(medium) {
      width: 10rem;
    }
  }

  &__contact {
    display: grid;
    gap: 1rem;
  }

  &__contact-flex {
    display: flex;
    gap: 1rem;
  }

  &__links {
    display: grid;
    gap: 1rem;
    font-weight: 500;

    & > * {
      width: max-content;
      &:hover {
        color: var(--clr-accent-color-bright-blue);
      }
    }
  }

  &__socials {
    display: flex;
    justify-content: center;
    gap: 1rem;

    & > * {
      padding: 0.5rem;
      border: 1px solid var(--clr-white);
      border-radius: 50rem;

      &:hover {
        color: var(--clr-accent-color-bright-blue);
        border: 1px solid var(--clr-accent-color-bright-blue);
      }
    }
  }
}