// Colors
$colors: (
  // Main Colors
        primary-color: (
                'very-dark-blue': hsl(243, 87%, 12%),
                'desaturated-blue': hsl(238, 22%, 44%),
        ),
        accent-color: (
                'bright-blue': hsl(224, 93%, 58%),
                'moderate-cyan': hsl(170, 45%, 43%),
                'error-red': hsl(343, 84%, 61%),
        ),
        neutral-color: (
                'light-grayish-blue': hsl(240, 75%, 98%),
                'light-gray': hsl(0, 0%, 75%),
        ),
  // Other
        'background': hsl(0, 0%, 100%),
        'box-shadow': hsla(0, 0%, 22%, 0.2),
        'white': hsl(0, 0%, 100%),
        'black': hsl(0, 0%, 0%),
);